/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    --hue: 174;
    --sat: 63%;
    --first-color: hsl(var(--hue), var(--sat), 40%);
    --first-color-alt: hsl(var(--hue), var(--sat), 36%);
    --title-color: hsl(var(--hue), 12%, 15%);
    --text-color: hsl(var(--hue), 8%, 35%);
    --body-color: hsl(var(--hue), 100%, 99%);
    --container-color: #FFF;

    /*========== Font and typography ==========*/
    --body-font: 'Open Sans', sans-serif;
    --h1-font-size: 1.5rem;
    --normal-font-size: .938rem;
    --tiny-font-size: .625rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;


    /* main content */

    --whiteColor: #ffffff;
    --blackColor: #111b21;
    --mainColor: #008069;
    --greenColor: #25d366;
    --garyColor: #8696a0;
    --settingColor: #3b4a54;

}

@media screen and (min-width: 968px) {
    :root {
        --h1-font-size: 2.25rem;
        --normal-font-size: 1rem;
    }
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: #ebebeb;
    min-height: 100vh;
    color: var(--text-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
    padding: 4.5rem 0 2rem;
}

.section__title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    text-align: center;
    margin-bottom: 1.5rem;
}

/* .section__height {
    height: 100vh;
} */

/*=============== LAYOUT ===============*/
.container {
    /* position: relative; */
    max-width: 968px;
    margin-left: 1rem;
    margin-right: 1rem;

}

/*=============== HEADER ===============*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--container-color);
    z-index: var(--z-fixed);
    transition: .4s;
}

/*=============== NAV ===============*/
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__img {
    width: 32px;
    border-radius: 50%;
}

.nav__logo {
    color: var(--title-color);
    font-weight: 600;
}

@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: var(--container-color);
        box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
        width: 100%;
        height: 4rem;
        padding: 0 1rem;
        display: grid;
        align-content: center;
        border-radius: 1.25rem 1.25rem 0 0;
        transition: .4s;
    }
}

.nav__list,
.nav__link {
    display: flex;
}

.nav__link {
    flex-direction: column;
    align-items: center;
    row-gap: 4px;
    color: var(--title-color);
    font-weight: 600;
}

.nav__list {
    justify-content: space-around;
}

.nav__name {
    font-size: var(--tiny-font-size);
    /* display: none;*/
    /* Minimalist design, hidden labels */
}

.nav__icon {
    font-size: 1.5rem;
}

/*Active link*/
.active-link {
    position: relative;
    color: var(--first-color);
    transition: .3s;
}

/* Minimalist design, active link */
/* .active-link::before{
  content: '';
  position: absolute;
  bottom: -.5rem;
  width: 4px;
  height: 4px;
  background-color: var(--first-color);
  border-radius: 50%;
} */

/* Change background header */
.scroll-header {
    box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
}

/*=============== MEDIA QUERIES ===============*/
/* For small devices */
/* Remove if you choose, the minimalist design */
@media screen and (max-width: 320px) {
    .nav__name {
        display: none;
    }
}

/* For medium devices */
@media screen and (min-width: 576px) {
    .nav__list {
        justify-content: center;
        column-gap: 3rem;
    }
}

@media screen and (min-width: 767px) {
    body {
        margin: 0;
    }

    .section {
        padding: 7rem 0 2rem;
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
        /* 4.5rem */
    }

    .nav__img {
        display: none;
    }

    .nav__icon {
        display: none;
    }

    .nav__name {
        font-size: var(--normal-font-size);
        /* display: block; */
        /* Minimalist design, visible labels */
    }

    .nav__link:hover {
        color: var(--first-color);
    }

    /* First design, remove if you choose the minimalist design */
    .active-link::before {
        content: '';
        position: absolute;
        bottom: -.75rem;
        width: 4px;
        height: 4px;
        background-color: var(--first-color);
        border-radius: 50%;
    }

    /* Minimalist design */
    /* .active-link::before{
      bottom: -.75rem;
  } */
}

/* For large devices */
@media screen and (min-width: 1024px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }
}

/* ========starting side bar css */

.sidebar {
    position: fixed;
    width: 250px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    padding: 24px;
    border-radius: 0 30px 30px 0;
    transition: all 0.3s;
    opacity: 0;
}

.sidebar.show {
    opacity: 1;
}

.sidebar .head {
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f6f6f6;
}

.user-img {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    overflow: hidden;
}

.user-img img {
    width: 100%;
    object-fit: cover;
}

.user-details .title,
.menu .title {
    font-size: 10px;
    font-weight: 500;
    color: #757575;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.user-details .name {
    font-size: 14px;
    font-weight: 500;
}

.menu ul li {
    position: relative;
    list-style: none;
    margin-bottom: 5px;
}

.nav {
    flex: 1;
}

.menu ul li a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #757575;
    text-decoration: none;
    padding: 12px 8px;
    border-radius: 8px;
    transition: all 0.3s;
}

.menu ul li>a:hover,
.menu ul li.active>a {
    color: #000;
    background-color: #f6f6f6;
}

.menu ul li .icon {
    font-size: 20px;
}

.menu ul li .text {
    flex: 1;
}

.menu ul li .arrow {
    font-size: 14px;
    transition: all 0.3s;
}

.menu ul li.active .arrow {
    transform: rotate(180deg);
}

.menu .sub-menu {
    display: none;
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 5px;
    border-left: 1px solid #f6f6f6;
}

.menu .sub-menu li a {
    padding: 10px 8px;
    font-size: 12px;
}

.menu:not(:last-child) {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #f6f6f6;
}

.menu-btn {
    position: absolute;
    right: -14px;
    top: 3.5%;
    width: 28px;
    height: 28px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #757575;
    border: 2px solid #f6f6f6;
    background-color: #fff;
}

.menu-close {
    position: absolute;
    right: -14px;
    bottom: 30%;
    width: 28px;
    height: 28px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #757575;
    border: 2px solid #f6f6f6;
    background-color: #fff;
}

.menu-btn:hover i {
    color: #000;
}

.menu-btn i {
    transition: all 0.3s;
}

.sidebar.active {
    width: 92px;
}

.sidebar.active .menu-btn i {
    transform: rotate(180deg);
}

.sidebar.active .user-details {
    display: none;
}

.sidebar.active .menu .title {
    text-align: center;
}

.sidebar.active .menu ul li .arrow {
    display: none;
}

.sidebar.active .menu>ul>li>a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar.active .menu>ul>li>a .text {
    position: absolute;
    left: 78px;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    border-radius: 4px;
    color: #fff;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

.sidebar.active .menu>ul>li>a .text::after {
    content: "";
    position: absolute;
    left: -5px;
    top: 20%;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background-color: #000;
    transform: rotate(45deg);
    z-index: -1;

}

.sidebar.active .menu>ul>li>a:hover .text {
    left: 50px;
    opacity: 1;
    visibility: visible;
}

.sidebar.active .menu .sub-menu {
    position: absolute;
    top: 0;
    left: 20px;
    width: 200px;
    border-radius: 20px;
    padding: 10px 20px;
    border: 1px solid #f6f6f6;
    background-color: #fff;
    box-shadow: 8px 18px 8px rgba(0, 0, 0, 0.1);
}

/* =========end of side bar css */

@media screen and (max-width: 747px) {

    /* .min-header {
        position: relative;
        background-color: var(--mainColor);
        padding: 2rem 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    } */

    .tabs {
        position: fixed;
        width: 100%;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--container-color);
        padding: .5rem 0;
        box-sizing: 0 .2rem .5rem rgba(0 0 0 / .15);
    }

    .tabs li {
        position: relative;
        font-size: 1.3rem;
        font-weight: 500;
        text-transform: capitalize;
        color: var(--title-color);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        opacity: .75;
        cursor: pointer;

    }

    .tabs li:first-child {
        flex-basis: 13%;
    }

    .tabs li:not(:first-child) {
        flex-basis: 33.33%;
    }

    .tabs li.active {
        opacity: 1;
        transition: all .5s ease-in-out;
    }

    .tabs li.active::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -.5rem;
        width: 100%;
        height: .2rem;
        background-color: var(--first-color);
    }

    .tabs li i {
        font-size: 1.6rem;
    }

    .tabs li .num {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--whiteColor);
        background-color: var(--first-color);
        font-size: .9rem;
    }



    /* content */
    .content {
        /* position: relative; */
        width: 100%;
        display: flex;
        overflow: hidden;
    }

    .content .box {
        /* position: relative; */
        /* width: 0rem; */
        visibility: hidden;
        opacity: 0;
        transition: all .3s ease-in-out;
    }

    .content .box.active {
        left: 0;
        visibility: visible;
        opacity: 1;
    }

    .content .communities {
        display: none;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .content .communities.active {
        display: flex;
    }

    .charts {
        width: 100%;
    }

    .content .communities .community-img {
        margin-top: 2.5rem;
    }

    .content .communities .community-text {
        margin-top: 2.5rem;
        text-align: center;
    }

    .content .communities .community-text h3 {
        font-size: 2.4rem;
        font-weight: 700;
        color: var(--title-color);
    }

    .content .communities .community-text p {
        font-size: 1.4rem;
        color: var(--blackColor);
        line-height: 1.5;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }

    .content .communities .button .btn {
        padding: 1rem 2.4rem;
        border-radius: .3rem;
        border: .1rem solid transparent;
        color: var(--whiteColor);
        text-transform: uppercase;
        letter-spacing: 0.125rem;
        font-weight: 600;
        font-size: 0.9rem;
        background-color: var(--first-color);
        box-shadow: 0 .2rem .7rem rgba(11, 20, 26, 0.9), 0 .1rem .2rem rgba(11, 20, 26, 05);
        cursor: pointer;
        transition: all .5s ease-in-out;
    }

    .content .communities .button .btn:hover {
        background-color: #017561;
    }



    /*End Chat Box*/


    .box .data {
        position: relative;
        width: 100%;
        height: 50rem;

    }

    .box .chat-list {
        position: relative;
        height: 100%;
        overflow-y: auto;
    }

    .box .chat-list .chat {
        position: relative;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1.5rem 1rem;
        cursor: pointer;
        transition: all .5s ease-in-out;
    }

    .box .chat-list .chat:hover {
        background-color: #fafafa;
        border-radius: 30px;
    }

    .box .chat-list .chat .img-box {
        position: relative;
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
        overflow: hidden;
    }

    .box .chat-list .chat .img-box img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .box .chat-list .chat .details {
        width: 100%;

    }

    .box .chat-list .details .chat-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .box .chat-list .details .chat-head h4 {
        text-transform: capitalize;
        font-weight: 600;
        font-size: 1.4rem;
        color: #111b21;
    }

    .box .chat-list .details .chat-head .time {
        color: var(--garyColor);
        font-size: 1.1rem;
        text-transform: capitalize;
    }

    .box .chat-list .chat.uread .details .chat-head .time {
        color: var(--greenColor);

    }

    .box .chat-list .chat .details .message {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .box .chat-list .chat .details .message p {
        color: var(--text-color);
        display: -webkit-box;
        font-size: 1.2rem;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
    }

    .box .chat-list .chat .details .message b {
        min-width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: var(--greenColor);
        color: var(--whiteColor);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    ::-webkit-scrollbar {
        width: .5rem;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #bbb;
    }

    /* chat box */

}